.Button {
	border-width: 2px;
	border-style: solid;
	border-top: 0px;
	border-bottom: 0px;
	border-color: rgb(59, 59, 59);
	background-color: rgba(126, 126, 126, 0.363);
	padding-left: 15.8px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 4px;
	font-size: 14px;
}

.ContainerBG {
	inset-inline-end: 50%;
	background-color: rgb(255, 255, 255);
	scroll-margin-bottom: 100%;
}

.Header {
	color: rgb(1, 1, 78);
	padding: 15px;
	background-color: rgb(0, 0, 94);
}

.SearchBar {
	background-color: rgb(255, 255, 255);
	color: grayscale($color: #000000);
	padding: 6px;
	margin-left: 20%;
	width: 40%;
	border-radius: 5px;
}

.ProfileBackground {
	color: black;
	text-align: center;
	background-color: rgb(182, 181, 181);
	margin-inline-end: 35%;
	margin-left: 400px;
	border-color: rgb(187, 187, 187);
	border-style: solid;
	border-width: 3px;
	z-index: 2;
}

.ProfileImage {
	text-align: center;
	color: rgb(170, 167, 167);
	background-color: rgb(105, 104, 104);
	margin-inline-end: 76%;
	margin-left: 5px;
	margin-bottom: 3px;
	padding-bottom: 60px;
	padding-top: 50px;
	margin-top: 150px;
	border-color: rgb(65, 63, 63);
	border-style: solid;
	border-width: 3px;
}

.ButtonContainer {
	background-color: rgb(255, 255, 255);
	padding: 3.5px;
	margin-left: -3px;
	padding-left: 100px;
	padding-bottom: 3px;
	border-style: solid;
	border-color: rgb(56, 51, 51);
	position: sticky;
	border-width: 2px;
	z-index: 1;
}

.NewsFeed {
	text-align: center;
	background-color: rgb(182, 181, 181);
	border-radius: 2px;
	margin-top: -300px;
	padding: 10px;
	margin-inline-end: 14%;
	margin-inline-start: 70%;
}

.Feeds {
	text-align: center;
	background-color: rgb(182, 181, 181);
	border-width: 4px;
	border-style: solid;
	border-color: rgb(56, 56, 56);
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 20px;
}

.ContainerTimeline {
	position: sticky;
	top: 10px;
	background-color: rgb(182, 181, 181);
	margin-top: 150px;
	margin-left: 50px;
	margin-inline-end: 100%;
}

.ContainerPhotos {
	display: flex;
	position: sticky;
	top: 10px;
	margin-bottom: 10px;
	background-color: rgb(182, 181, 181);
	margin-inline-end: 70%;
	width: 300px;
	border-style: solid;
	border-width: 1.6px;
	border-radius: 10px;
}

.ContainerPosts {
	display: flex;
	position: sticky;
	top: 150px;
	background-color: rgb(182, 181, 181);
	margin-left: -1500px;
	margin-top: 150px;
	width: 582px;
	height: 3000px;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
}

.ContainerofPostandTimeline {
	display: flex;
	position: relative;
}

.ContainerSearchBar {
	display: inline-block;
	width: 94%;
}

.ContainerSearchBar-- > img {
	image-resolution: 20px;
}
